<form (submit)="addTask(taskName)">
  <div class="row-container">
    <mat-form-field appearance="outline">
      <mat-label>Task Name</mat-label>
      <input matInput type="text" #taskName>
      <mat-hint>For example: kill bill</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!taskName.value">Add</button>
  </div>
</form>

<mat-divider></mat-divider>

<app-task-item *ngFor="let task of tasksObs | async" [task]="task"></app-task-item>
