<mat-checkbox (change)="changeDone()" [checked]="task.done" name="done" [disabled]="task.archived"></mat-checkbox>
<p class="task-name">{{task.taskName}}</p>
<div class="btn-container">
  <button mat-raised-button color="accent" (click)="archiveTask()">{{task.archived ? 'Unarchive' : 'Archive'}}</button>
</div>
<div class="btn-container">
  <button mat-stroked-button color="warn" (click)="deleteTask()">Delete</button>
</div>
