<h2 class="title">My ToDo App</h2>

<mat-divider></mat-divider>

<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let tab of tabs"
     [routerLink]="tab.path"
     routerLinkActive #rla="routerLinkActive"
     [routerLinkActiveOptions]="{exact: true}"
     [active]="rla.isActive">
    {{tab.name}}
  </a>
</nav>

<router-outlet></router-outlet>
